<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Overflow</title>
  </head>
  <body>
    <div class="box">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        voluptas illum eaque magni, id hic architecto ullam. Necessitatibus eos
        pariatur quae dolorum ut ipsa iure assumenda nulla magni, adipisci
        fugiat, laudantium, vel eligendi sed neque accusantium minima animi
        excepturi debitis quidem id quasi aliquam cumque totam. Voluptatibus
        eveniet mollitia in qui voluptatum eos alias harum aspernatur ducimus ea
        necessitatibus distinctio ipsa eius fugit impedit non rerum sit
        architecto corrupti nemo aliquam animi, unde officiis id. Sed ad
        asperiores sequi molestiae aut, hic officia reprehenderit autem libero,
        tenetur cum. Eum repudiandae et veniam nulla tempora possimus laboriosam
        quia dolorum minima ea.
      </p>
    </div>
  </body>
</html>
