<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="float.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layouts-Float</title>
  </head>
  <body>
    <img src="/images/cat.jpg" alt="An image of a cat" />
    <p class="username">@jasleenbhambra</p>
    <p>
      I like cats! Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Libero labore excepturi ullam iste nam. Odit molestiae porro quis eligendi
      ullam asperiores quam praesentium suscipit, nesciunt minima.
      Exercitationem quisquam voluptas itaque.
    </p>
    <p>
      I like cats! Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Libero labore excepturi ullam iste nam. Odit molestiae porro quis eligendi
      ullam asperiores quam praesentium suscipit, nesciunt minima.
      Exercitationem quisquam voluptas itaque.
    </p>
  </body>
</html>
