body{
    font-size:62.5%;
    position: relative;
    height:100vh;
}

img{
    object-fit:cover;
}

h1{
    color:white;
    font-size:6rem;
}

.content{
    position: absolute;
    bottom:50vh;
    left:50vw;
  
}