body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    height:300px;
    width:300px;
    background-color: yellowgreen;
    transition: transform 0.5s ease-in 1s, background-color 0.5s ease-in 1s ;
}


.box:hover{
    height:300px;
    width:300px;
    background-color: yellowgreen;
    transform: scale(5);
    background-color: green;
   
}

