<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="box-model.css" />
    <title>Layouts-Box Model</title>
  </head>
  <body>
    <div class="box">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est assumenda
        labore nesciunt repellendus laudantium ratione porro odio placeat hic
        deserunt aut officia modi ipsam, similique, fugit accusantium distinctio
        quaerat voluptatum commodi eius delectus deleniti laboriosam?
        Accusantium error necessitatibus incidunt ad accusamus dolores tempore
      </p>
    </div>
    <div class="border-box">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est assumenda
        labore nesciunt repellendus laudantium ratione porro odio placeat hic
        deserunt aut officia modi ipsam, similique, fugit accusantium distinctio
        quaerat voluptatum commodi eius delectus deleniti laboriosam?
        Accusantium error necessitatibus incidunt ad accusamus dolores tempore
      </p>
    </div>
    <div class="box">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est assumenda
        labore nesciunt repellendus laudantium ratione porro odio placeat hic
        deserunt aut officia modi ipsam, similique, fugit accusantium distinctio
        quaerat voluptatum commodi eius delectus deleniti laboriosam?
        Accusantium error necessitatibus incidunt ad accusamus dolores tempore
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut maxime
        dolorem nesciunt sint quidem ipsum laborum voluptates numquam
        repudiandae cum.
      </p>
    </div>
  </body>
</html>
