.container{
    border: 5px solid yellow;
}

.box{
    position:relative;
    height:100px;
    width:100px;
    background-color: purple;
    border:5px solid pink;
    margin:10px;
    left: 5rem;
}

#box-one{
    position:relative; /* relative to it's normal position */
    left:10rem;
    top: 50px; 
    /*overlap*/
    /* z-index specifies stacking order which is by default 0 */
    z-index:1;
}

#box-two{
    position:absolute; /*relative to container*/
    top:0;
    left:0;
}

#box-three{
    position:fixed; /*relative to viewport*/
    top:0;
    
}