html{
    font-size:62.5%;
}

body{
    background-color: #dda0dd;

}

.navbar{
    display:flex;
    flex-direction:row;
    

}

ul li{
    list-style:none;
    display:inline;
    padding:20px;

    
}

.navbar a{
    text-decoration: none;
    font-size:2rem;
    color:#20062b;

}

.navbar a:hover{
    text-decoration: none;
    font-size:2rem;
    color:white;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    
}

.icons{
    display:flex;
    flex-direction:row-reverse;
    width:60%;
    
}

.bg-image{

float: left;
height: 65rem;
position: relative;
top: -11rem;
left:-8rem;
}

.image-text{
    font-size:10rem;
    color:#20062b;
    font-weight: bold;
    position: relative;
    left:-5rem;
}

.card
{
    width:40rem;
    height:40rem;
    background-color: white;
    display:inline-block;
    margin:2rem;
    border-radius:2rem;
    overflow:hidden;
    transition:background-color 2s;
    box-shadow: rgba(62, 5, 69, 0.5) 0px 7px 29px 0px;
    


}

mark{
    background-color: white;
}
.card:hover
{
   
    background-color: purple;
    
}
.cards
{
    margin-top:4rem;
}


.content{
    padding:4rem;
    font-size: 2rem;
    color:rgb(223, 95, 223);
    transition: color 2s;
}
.content:hover{
    padding:4rem;
    font-size: 2rem;
    color:whitesmoke;
}

.card img{
    height:20rem;
    float:left;

}

#card-1 img{
   position:relative;
   top:1rem;
}

#card-2 img{
    position:relative;
    top:6rem;
 }

 #card-3 img{
    position:relative;
    top:5rem;
 }
 
 #card-3 .card-heading{
    color:#20062b;
    font-weight:bold;
    font-size: 4rem;
    position:relative;
    top:11rem;
 }

 #card-2 .card-heading{
    color:#20062b;
    font-weight:bold;
    font-size: 4rem;
    position:relative;
    top:10rem;
 }

 #card-1 .card-heading{
    color:#20062b;
    font-weight:bold;
    font-size: 4rem;
    position:relative;
    top:4rem;
 }

 .btn{
    width:30rem;
    height:8rem;
    background-color:#20062b; 
    border-radius: 2rem;

 }
 #card-3 .btn{
    
    
    position:relative;
    top:-1rem;
    left:5rem;
   
 }

 #card-2 .btn{
   
  
    position:relative;
    top:-1rem;
    left:5rem;
    
 }

 #card-1 .btn{
    

    position:relative;
    top:-5rem;
    left:5rem;
 
 }

 .btn a{
    text-decoration: none;
    color:plum;
    font-weight:bold;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    padding-top:1rem;
   
 }

 #card-1 .duo{
    position:relative;
    top:-12rem;
 }

 #card-2 .duo{
    position:relative;
    top:-12rem;
 }

 #card-3 .duo{
    position:relative;
    top:-13rem;
 }

.btn:hover{
    width:30rem;
    height:8rem;
    background-color:plum; 
    border-radius: 2rem;

}


.btn a:hover{
    text-decoration: none;
    color:#20062b;
    
    font-weight:bold;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    padding-top:1rem;
   
 }

 .abode-icon{
    float:left;
    height:60rem;
 }

 .form-abode{
    width:50rem;
    height:45rem;
    background-color: #20062b;
    border-radius: 2rem;
    float: right;
    margin-right:8rem;
    margin-top:3rem ;
    box-shadow: rgba(62, 5, 69, 0.5) 0px 7px 29px 0px;
 }

 .form-abode fieldset{
    border:0;
    padding:3rem;
    
 }

 .form-abode fieldset label{
 color:whitesmoke;
 font-size: 2rem;
 padding: 2rem;
    
 }


 .form-abode fieldset input, select{
 
    border-radius: 0.5rem;
    width: 70%;
       
    }

  .form-btn{
    border-radius: 0.5rem;
    width: 50%;
    height:5rem;
    background-color:plum ;
    color:#20062b;
    border:0;
    font-size: 2rem;
    font-family: apple;
    position:relative;
    left:12rem;
    bottom:2rem;

    }


  .form-btn:hover{
    border-radius: 0.5rem;
    width: 50%;
    height:5rem;
    background-color:rgb(177, 21, 177);
    color:plum;
    border:0;
    font-size: 2rem;
    font-family: apple;
    position:relative;
    left:12rem;
    bottom:2rem;

    }