<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Box Model</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla mollitia,
      voluptate blanditiis aliquam vero exercitationem. Atque a quasi
      praesentium minus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi
      dignissimos numquam id eum, praesentium a, quibusdam repudiandae officiis
      magni voluptatibus nobis, earum labore deleniti! Neque minima atque autem
      corrupti amet veritatis praesentium quidem!
    </p>
    <!-- hierarchy
    outside -> inside
    1. margin 2. border 3. padding 4. content -->
  </body>
</html>
